table{
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;
}
td,th{
    border: 1px solid gray;
    padding: 10px;
}
tbody>tr:nth-child(even){
    background-color: #d3d3d3;
}
th{
    background-color: #696969;
    font-weight: bold;
    color: #f5f5dc;
}
.osszevont{
    background-color: orange
}
thead{
    background-color: #696969;
    color: #f5f5dc;
    font-weight: bold;
    padding: 0;
    text-align: center;
}
.babu{
    font-size: 30px;
    text-align: center;
}
@media screen and (max-width: 500px) {
    article{
        overflow-x: scroll;
    }
}